@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.inputFile {
  padding: 10px 20px;
  font-weight: 700;
  transition: 0.3s ease;
  font-size: 10px;
  margin: 0 auto;
  cursor: pointer;

  &::file-selector-button {
    all: unset;
    margin-right: 10px;
    background-color: darken($color: #fbfbff, $amount: 3%);
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    color: #232130;
  }

  &:active {
    transform: scale(0.9);
  }
}
