@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #232130;
  color: #fbfbff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  width: calc(100% - 40px);
  margin: 40px 20px;
}

.circle, .circle--color, .cross, .cross--color {
  background-color: none;
  border: 7px solid #7233ff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 100;
  top: -50px;
  right: 10px;
  -webkit-box-shadow: rgba(114, 51, 255, 0.5) 0px 18px 50px 0px;
          box-shadow: rgba(114, 51, 255, 0.5) 0px 18px 50px 0px;
}

.circle--color {
  border: 5px solid #fbfbff;
  top: 200px;
  right: 20px;
  width: 10px;
  height: 10px;
}

.cross, .cross--color {
  width: 25px;
  height: 8px;
  right: 0px;
  left: 30px;
  border: none;
  background-color: #fbfbff;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.cross--color {
  top: 250px;
  left: 0;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  background-color: #7233ff;
  height: 5px;
  width: 20px;
}

.main {
  margin-top: 100px;
  position: relative;
}

.main__title {
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

.main__subtitle {
  text-align: center;
  line-height: 1.35;
  opacity: 0.7;
  margin: 0px;
  margin-top: 20px;
}

.main__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__text {
  opacity: 0.7;
  margin-top: 3px;
}

.main__number {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.main__btn {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fbfbff;
  padding: 12px 30px;
  border-radius: 5px;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;
          box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;
}

.main__btn:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.main__btnIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #232130;
  font-size: 1.5rem;
}

.main__btnText {
  color: #232130;
  font-weight: 700;
  margin-left: 10px;
  font-size: 12px;
}

.main__cardsContainer {
  margin-top: 80px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.main__card, .main__card--white, .main__card--m1, .main__card--m2 {
  -webkit-box-shadow: rgba(114, 51, 255, 0.15) 0px 28px 50px 0px;
          box-shadow: rgba(114, 51, 255, 0.15) 0px 28px 50px 0px;
  background-color: #7233ff;
  color: #fbfbff;
  padding: 28px;
  border-radius: 10px;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  width: calc(100% - 56px);
      grid-template-areas: "title icon" "text icon";
}

.main__card--white {
  color: #232130;
  background-color: #fbfbff;
}

.main__card--m1 {
  margin-left: 0px;
}

.main__card--m2 {
  margin-left: 0px;
}

.main__cardTitle {
  font-weight: 700;
  font-size: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.main__cardText {
  font-size: 12px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  opacity: 0.7;
  margin-top: 10px;
}

.main__cardIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: icon;
  font-size: 2.5rem;
  justify-self: end;
}

.recent {
  margin-top: 30vh;
  position: relative;
}

.recent__title {
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

.recent__subtitle {
  text-align: center;
  line-height: 1.35;
  opacity: 0.7;
  margin: 0px;
  margin-top: 20px;
}

.recent__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent__btn {
  margin-top: 20px;
  background-color: #fbfbff;
  padding: 20px 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;
          box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;
}

.recent__btn:active {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.recent__btnIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #232130;
  font-size: 2rem;
}

.recent__btnText {
  color: #232130;
  font-weight: 700;
  margin-left: 10px;
  font-size: 18px;
}

.recent__btnExtended {
  width: calc(100% - 40px);
  background-color: #fbfbff;
  color: #232130;
  padding: 30px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-animation: fade 0.5s;
          animation: fade 0.5s;
  position: absolute;
}

.recent__inputFile {
  padding: 10px 20px;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 10px;
  margin: 0 auto;
}

.recent__inputFile::file-selector-button {
  all: unset;
  margin-right: 10px;
  background-color: #ececff;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  color: #232130;
}

.recent__inputFile:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.recent__inputTitle {
  all: unset;
  padding: 15px 20px;
  border-bottom: 2px solid #e2e2ff;
  margin: 10px auto 10px auto;
  font-weight: 700;
  color: #232130;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: calc(100% - 40px);
}

.recent__inputTitle::-webkit-input-placeholder {
  opacity: 0.3;
  color: #232130;
}

.recent__inputTitle:-ms-input-placeholder {
  opacity: 0.3;
  color: #232130;
}

.recent__inputTitle::-ms-input-placeholder {
  opacity: 0.3;
  color: #232130;
}

.recent__inputTitle::placeholder {
  opacity: 0.3;
  color: #232130;
}

.recent__inputTitle:focus {
  border-bottom-color: #7233ff;
}

.recent__inputPreview {
  width: 100%;
  border-radius: 5px;
}

.recent__inputSubmit, .recent__inputCancel {
  all: unset;
  width: calc(100% - 40px);
  text-align: center;
  background-color: #ececff;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: 700;
  color: #232130;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 10px;
}

.recent__inputSubmit:active, .recent__inputCancel:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #d7d7ff;
}

.recent__inputCancel {
  background-color: #fbfbff;
  color: #7233ff;
}

.recent__memeContainer {
  margin-top: 10vh;
}

.meme {
  border-radius: 15px;
  background-color: #fbfbff;
  margin-top: 40px;
}

.meme__img {
  background-color: #7233ff;
  width: 100%;
  border-radius: 15px;
}

.meme__details {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0fr 0fr;
      grid-template-columns: 1fr 0fr 0fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meme__icon {
  color: #7233ff;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meme__title {
  color: #232130;
  font-weight: 700;
  font-size: 16px;
}

.meme__like {
  color: #232130;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
}

@media (min-width: 1100px) {
  html {
    max-width: unset;
  }
  .main {
    margin: -40px 15vw 0px;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .circle, .main .circle--color, .main .cross, .main .cross--color {
    top: 20vh;
    right: -10vw;
  }
  .main .circle--color {
    top: 70vh;
    right: -5vw;
  }
  .main .cross, .main .cross--color {
    left: -7vw;
    top: 10vh;
  }
  .main .cross--color {
    top: 80vh;
    left: -11vw;
  }
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__col, .main__cardsContainer {
    width: 80%;
  }
  .main__card, .main__card--white, .main__card--m1, .main__card--m2 {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .main__card--m1 {
    margin-left: -30px;
  }
  .main__card--m2 {
    margin-left: -10px;
  }
  .main__card:hover, .main__card--white:hover, .main__card--m1:hover, .main__card--m2:hover {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .main__title, .main__subtitle {
    text-align: left;
  }
  .main__counter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .main__btn {
    margin: 20px 0px 0px 0px;
    cursor: pointer;
  }
  .main__btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main__btn:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .recent {
    margin: 100px 15vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header upload" "memes memes";
  }
  .recent__upload {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: upload;
    position: absolute;
    right: 0;
    width: 60%;
  }
  .recent__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .recent__btn:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .recent__btnExtended {
    margin-top: 20px;
    -webkit-box-shadow: rgba(114, 51, 255, 0.5) 0px 48px 100px 0px;
            box-shadow: rgba(114, 51, 255, 0.5) 0px 48px 100px 0px;
  }
  .recent .circle, .recent .circle--color, .recent .cross, .recent .cross--color {
    right: -7vw;
  }
  .recent .circle--color {
    right: -5vw;
  }
  .recent .cross, .recent .cross--color {
    left: -8vw;
  }
  .recent .cross--color {
    left: -10vw;
  }
  .recent__title, .recent__subtitle {
    text-align: left;
    max-width: 80%;
  }
  .recent__memeContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: memes;
  }
  .recent__btn, .recent__inputFile, .recent__inputSubmit, .recent__inputCancel, .recent__inputCancel {
    cursor: pointer;
  }
  .meme {
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@-webkit-keyframes fade {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */