@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

// colors
$bg: #232130;
$c: #7233ff;
$t: #fbfbff;

html {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  max-width: 400px;
  margin: 0 auto;
  background-color: $bg;
  color: $t;
  box-sizing: border-box;
}

.App {
  width: calc(100% - 40px);
  margin: 40px 20px;
}

.circle {
  background-color: none;
  border: 7px solid $c;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 100;
  top: -50px;
  right: 10px;
  box-shadow: rgba(114, 51, 255, 0.5) 0px 18px 50px 0px;

  &--color {
    @extend .circle;
    border: 5px solid $t;
    top: 200px;
    right: 20px;
    width: 10px;
    height: 10px;
  }
}

.cross {
  @extend .circle;
  width: 25px;
  height: 8px;
  right: 0px;
  left: 30px;
  border: none;
  background-color: $t;
  border-radius: 100px;
  transform: rotate(30deg);

  &--color {
    @extend .cross;
    top: 250px;
    left: 0;
    transform: rotate(-50deg);
    background-color: $c;
    height: 5px;
    width: 20px;
  }
}

.main {
  margin-top: 100px;
  position: relative;

  &__title {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }

  &__subtitle {
    text-align: center;
    line-height: 1.35;
    opacity: 0.7;
    margin: 0px;
    margin-top: 20px;
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
  }

  &__text {
    opacity: 0.7;
    margin-top: 3px;
  }

  &__number {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 20px;
    background-color: $t;
    padding: 12px 30px;
    border-radius: 5px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;

    &:active {
      transition: 0.3s;
      transform: scale(0.8);
    }
  }

  &__btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
    font-size: 1.5rem;
  }

  &__btnText {
    color: $bg;
    font-weight: 700;
    margin-left: 10px;
    font-size: 12px;
  }

  &__cardsContainer {
    margin-top: 80px;
    justify-self: end;
  }

  &__card {
    box-shadow: rgba(114, 51, 255, 0.15) 0px 28px 50px 0px;
    background-color: $c;
    color: $t;
    padding: 28px;
    border-radius: 10px;
    margin-top: 20px;
    display: grid;
    width: calc(100% - 56px);
    grid-template-areas:
      "title icon"
      "text icon";

    &--white {
      @extend .main__card;
      color: $bg;
      background-color: $t;
    }

    &--m1 {
      @extend .main__card;
      margin-left: 0px;
    }

    &--m2 {
      @extend .main__card;
      margin-left: 0px;
    }
  }

  &__cardTitle {
    font-weight: 700;
    font-size: 16px;
    grid-area: title;
  }

  &__cardText {
    font-size: 12px;
    grid-area: text;
    opacity: 0.7;
    margin-top: 10px;
  }

  &__cardIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: icon;
    font-size: 2.5rem;
    justify-self: end;
  }
}

.recent {
  margin-top: 30vh;
  position: relative;

  &__title {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }

  &__subtitle {
    text-align: center;
    line-height: 1.35;
    opacity: 0.7;
    margin: 0px;
    margin-top: 20px;
  }

  &__btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    margin-top: 20px;
    background-color: $t;
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: rgba(114, 51, 255, 0.2) 0px 18px 50px 0px;

    &:active {
      transform: translateY(10px);
    }
  }

  &__btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
    font-size: 2rem;
  }

  &__btnText {
    color: $bg;
    font-weight: 700;
    margin-left: 10px;
    font-size: 18px;
  }

  &__btnExtended {
    width: calc(100% - 40px);
    background-color: $t;
    color: $bg;
    padding: 30px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: grid;
    animation: fade 0.5s;
    position: absolute;
  }

  &__inputFile {
    padding: 10px 20px;
    font-weight: 700;
    transition: 0.3s ease;
    font-size: 10px;
    margin: 0 auto;

    &::file-selector-button {
      all: unset;
      margin-right: 10px;
      background-color: darken($color: $t, $amount: 3%);
      padding: 10px 20px;
      font-size: 12px;
      border-radius: 5px;
      color: $bg;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__inputTitle {
    all: unset;
    padding: 15px 20px;
    border-bottom: 2px solid darken($color: #fbfbff, $amount: 5%);
    margin: 10px auto 10px auto;
    font-weight: 700;
    color: $bg;
    transition: 0.3s ease;
    width: calc(100% - 40px);

    &::placeholder {
      opacity: 0.3;
      color: $bg;
    }

    &:focus {
      border-bottom-color: $c;
    }
  }

  &__inputPreview {
    width: 100%;
    border-radius: 5px;
  }

  &__inputSubmit {
    all: unset;
    width: calc(100% - 40px);
    text-align: center;
    background-color: darken($color: $t, $amount: 3%);
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 700;
    color: $bg;
    transition: 0.3s ease;
    margin-top: 10px;

    &:active {
      transform: scale(0.9);
      background-color: darken($color: $t, $amount: 7%);
    }
  }

  &__inputCancel {
    @extend .recent__inputSubmit;
    background-color: $t;
    color: $c;
  }

  &__memeContainer {
    margin-top: 10vh;
  }
}

.meme {
  margin-top: 40px;

  &__img {
    background-color: $c;
    //aspect-ratio: 330/300;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }

  &__details {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    align-items: center;
    background-color: $t;
    border-radius: 0px 0px 15px 15px;
  }

  &__icon {
    color: $c;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $bg;
    font-weight: 700;
    font-size: 16px;
  }

  &__like {
    color: $bg;
    font-weight: 700;
    font-size: 15px;
    margin-left: 5px;
  }
}

@media (min-width: 1100px) {
  html {
    max-width: unset;
  }

  .main {
    margin: -40px 15vw 0px;
    height: 100vh;
    display: grid;
    justify-content: center;

    .circle {
      top: 20vh;
      right: -10vw;

      &--color {
        top: 70vh;
        right: -5vw;
      }
    }

    .cross {
      left: -7vw;
      top: 10vh;

      &--color {
        top: 80vh;
        left: -11vw;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &__col,
    &__cardsContainer {
      width: 80%;
    }

    &__card {
      transition: 0.3s ease;

      &--m1 {
        margin-left: -30px;
      }

      &--m2 {
        margin-left: -10px;
      }

      &:hover {
        transform: translateX(-20px);
      }
    }

    &__title,
    &__subtitle {
      text-align: left;
    }

    &__counter {
      justify-content: start;
    }

    &__btn {
      margin: 20px 0px 0px 0px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  .recent {
    margin: 100px 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header upload"
      "memes memes";

    &__upload {
      grid-area: upload;
      position: absolute;
      right: 0;
      width: 60%;
    }

    &__header {
      grid-area: header;
    }

    &__btn {
      &:hover {
        transform: scale(1.03);
      }
    }

    &__btnExtended {
      margin-top: 20px;
      box-shadow: rgba(114, 51, 255, 0.5) 0px 48px 100px 0px;
    }

    .circle {
      right: -7vw;

      &--color {
        right: -5vw;
      }
    }

    .cross {
      left: -8vw;

      &--color {
        left: -10vw;
      }
    }

    &__title,
    &__subtitle {
      text-align: left;
      max-width: 80%;
    }

    &__memeContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-area: memes;
      place-items: center;
    }

    &__btn,
    &__inputFile,
    &__inputSubmit,
    &__inputCancel {
      cursor: pointer;
    }
  }

  .meme {
    width: 90%;
    justify-self: center;
  }
}

@keyframes fade {
  from {
    transform: scaleY(0);
    transform: translateY(-10px);
  }
  to {
    transform: scaleY(1);
    transform: translateY(0px);
  }
}
